# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Data / medical images
data/
*.dcm
*.dicom

# Training outputs
artifacts/*.pt
artifacts/*.pth
artifacts/*.ckpt
artifacts/*.onnx
runs/
wandb/

# OS/editor
.DS_Store
.vscode/
.idea/
